li{
    display: inline;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15%;

}
li a{
    color: white;
}
ul{
    list-style-type: none;
    border: 25px solid black;
    width: auto;
    background-color: black;
    position: relative;
    left: 50%;
}
body{
    background-color: rgb(255, 228, 156);
    width: 50%;

}
