

li{
    display: inline;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15%;

}
li a{
    color: white;
}
ul{
    list-style-type: none;
    border: 25px solid black;
    width: auto;
    background-color: black;
    position: relative;
    left: 20%;
}
li a:hover{
    color: red;
}
body{
    width: 70%;
}
header{
    border: 2px solid black;
    position: relative;
    left: 20%;
}
main{
    background-color: white;
    border: 2px solid black;
    position: relative;
    left: 20%;
}
p{
    font-size: 125%;
}


div{
    border: 2px solid black;
}
footer{
    border: 2px solid black;
    position: relative;
    left: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}




#citpt227{

}
#intro{
}