
li{
    display: inline;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15%;

}
li a{
    color: white;
}
ul{
    list-style-type: none;
    border: 25px solid black;
    width: auto;
    background-color: black;
}
body{
    margin-left: 10%;
    margin-right: 10%;
    

}
main{
    border: 2px solid black;
}
p{
    font-size: 125%;
}
